body {
    background-color: #f4ebdc;
    margin: 0;;
    /*width: 100vw;
    height: 100vh;*/
  }
  
     *{
      outline: 1px solid blue;
    } 
  
  .navegacao {
    height: 100px;
    background: rgb(247, 47, 47);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  .navegacao-lista {
    padding: 8px;
    list-style: none;
    margin-top: 28px;
    border-radius: 20px;
    background: #b10333;
    display: flex;
    width: max-content;
  }
  
  .texto-logo {
    font-family: "Segoe UI";
    color: white;
    text-align: center;
  }
  
  .top ul li {
    float: left;
  }
  
  .navegacao-links {
    /* font-size: 0.9em; */
    /* display: block; */
    /* padding: 0.5em 2.1em; */
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    margin: 15px;
  }
  
  .navegacao-links:hover {
    color: rgb(247, 247, 130);
    transform: scale(1.2);
  }
  
  .top ul a:hover {
    color: rgb(247, 247, 130);
    transform: scale(1.2);
  }

  
.prod-img {
    width: 236px;
    height: 210px;}

.produtos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* justify-content: space-around;
    flex-wrap: wrap; */
  margin-left: 75px;
}


.produto {
    display: flex;
    flex-direction: column;
    width: 236px;
    max-width: 236px;
    min-width: 236px;
    border-radius: 8px;
    margin: 45px 0px;
    padding: 25px;
    background-color: #fff;
    }





.estrelas {
    width: 67px;
    height: 13px;
    margin: 5px 0;
  }


  /* rodape */

.icone-midias {
    width: 35px;
  }
  
  .rodape {
    background-color: rgb(247, 47, 47);
    height: 180px;
  }
  
  .rodape-principal {
    display: flex;
    justify-content: space-around;
  }
  
  .cartoes {
    text-align: center;
  }

  header {
    
    text-align: center;
    background-color: rgb(247, 47, 47);

}

.txt-prod {
    font-family: "Segoe UI";
    color: white;
    font-size: x-large;
}

input[type="radio"] {
  display: none;
}

.btn {
    padding: 10px;
    border-radius: 7px;
    border: 0;
    margin-top: 10px;
    transition: 0.2s;
  }
  
.btn:hover {
    background-color: rgb(247, 47, 47);
    transform: scale(1.2);
    transition: 0.5s;
  }
  
.btn:hover a {
    color: #fff;
  }




/*responsividade */
/*Tablet*/
@media (max-width:768px){
  .produtos {
    grid-template-columns: 1fr 1fr; 
  }
}
/*Celular G*/
@media (max-width:425px){
  .produtos {
    grid-template-columns: 1fr;
  }
  
  
  /*faltando ajustar a barra de menus*/

  .navegacao-lista{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px
  }
  .txt-prod{
    margin-top: 65px;
  }
}
/*Celular M*/
@media (max-width:375px){
  .produtos{
    margin: 48px;
}
}
/*Celular P*/