*{
  box-sizing: border-box;    /* não interferir na largura (box-sizing) */
  margin: 0;
  padding: 0;
  font-family: Arial,sans-serif;
}

body{
   width: 100%;
   min-height: 100vh;    /* Ocupar 100% da tela */
   background: linear-gradient(90deg,rgb(255, 226, 59) 0%,rgb(255, 59, 59) 100%); /* cor do fundo da pagina */
   display: flex;
   justify-content: center; /* deixar tudo no meio */
   align-items: center;     /* deixar tudo no meio */

}

.container {
  background-color: #fafafa;
  border-radius: 10px; /* deixar as bordas redonda */
   box-shadow: 0 2px 5px rgba(0,0,0, 0.3);  /* deixar sombra em volta*/
   width: 400px;
   max-width: 100%;
   overflow: hidden;  /* deixar as bordas redonda */
}

.header {      /* titulo */
  background-color: #eee; /* cor que fica atras do titulo */
  padding: 20px;
  

}

.form {
   padding: 20px;

}

.form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position:relative;
}

.form-control label {
  display: inline-block;
  margin-bottom: 5px;  

}

.form-control input{
  border: 2px solid #f0f0f0;  /* cor da borda da caixa de texto */
  display: block; /* alargar o espaço entre as caixa de texto */
  border-radius: 10px;
  font-size: 14px;
  width: 100%; /* caixa de informações ocupando completamente o espaço */
  padding: 10px; /* alargar a caixa de informações */

} 

.form button {        /* BOTAO DE ENVIAR */
  background-color: rgb(255, 226, 59); 
  border: 2px solid rgb(255, 226, 59); 
  color: #fff;    /* cor da letra */
  font-size: 14px;  
  width: 100%;   /* preencher o espaço todo */
  border-radius: 10px; /* deixar os lados arrendondados */
  padding: 10px; /* largura */
}

